<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="pm-products-wishlist"
     class="container-fluid pm-products-user-list {f:if(condition: '{ppm:isPricingEnabled()}', then: 'pricing-enabled')}"
     data-total-order-prices-ajax-uri="{f:uri.action(controller: 'AjaxJson', action: 'totalOrderPrices', absolute: '1', pageType: '{settings.wishList.pageType}')}"
     data-update-order-quantities-ajax-uri="{f:uri.action(controller: 'AjaxJson', action: 'updateOrderQuantities', absolute: '1', pageType: '{settings.wishList.pageType}')}">

    <f:if condition="{products}">
        <f:form pageUid="{checkout.pid}" extensionName="{checkout.extension}" controller="{checkout.controller}"
                action="{checkout.action}"  arguments="{sendOrder: 1}" class="form-horizontal">
            <div class="row item-order-header hidden-xs">
                <div class="col-sm-2 col-md-1"></div>
                <div class="col-sm-2 col-md-4"><f:translate key="fe.product_name"/></div>
                <div class="col-sm-2 col-md-2"><f:translate key="fe.sku"/></div>
                <f:if condition="{ppm:isPricingEnabled()}"><div class="col-sm-2 col-md-2"><f:translate key="fe.price_per"/></div></f:if>
                <div class="col-sm-2 col-md-2"><f:translate key="fe.add"/></div>
                <div class="col-sm-2 col-md-1"></div>
            </div>

            <f:for each="{products}" as="product">
                <div class="row item-order-row">
                    <f:render section="item"
                              arguments="{product: product, orderProducts: orderProducts}" />
                </div>
            </f:for>

            <f:for each="{coupons}" as="coupon">
                <div class="row item-order-row">
                    <f:render section="coupon"
                              arguments="{coupon: coupon}" />
                </div>
            </f:for>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="pull-right">
                        <f:if condition="{ppm:isPricingEnabled()}">
                            <div class="total-price-section">
                                <f:translate key="fe.total_price"/> -
                                <span class="pxa-pm-order-total-price"
                                      data-nubmer-format="{f:translate(key: 'priceFormat')}"
                                      data-currency-format="{f:translate(key: 'fe.price_currency_format')}">
                                    <span class="value"></span>
                                    <div class="lds-dual-ring"><div class="small"></div></div>
                                </span>
                                <f:if condition="{settings.wishList.showTaxInfo}">
                                    <small class="tax-price">
                                        (
                                        <f:translate key="fe.tax" />
                                        <span class="pxa-pm-order-total-tax"
                                              data-nubmer-format="{f:translate(key: 'priceFormat')}"
                                              data-currency-format="{f:translate(key: 'fe.price_currency_format')}">
                                            <span class="value"></span>
                                            <div class="lds-dual-ring">
                                                <div class="small"></div>
                                            </div>
                                        </span>
                                        )
                                    </small>
                                </f:if>
                            </div>
                        </f:if>
                        <div class="make-order-button-section">
                            <f:if condition="{checkout.type} == 'default'">
                                <f:then>
                                    <f:if condition="{orderConfiguration}">
                                        <button aria-expanded="false"
                                                class="btn btn-primary"
                                                data-target="#pm-collapse-order-form"
                                                data-toggle="collapse"
                                                type="button">
                                            <f:translate key="fe.continue_to_order"/>
                                        </button>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:render section="makeOrderButton" />
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </div>
            </div>

            <f:if condition="{orderConfiguration} && {checkout.type} == 'default'">
                <div class="collapse{f:if(condition: sendOrder, then: ' in')}" id="pm-collapse-order-form" aria-expanded="true">
                    <f:if condition="{orderConfiguration.formFields}">
                        <f:then>
                            <f:for each="{orderConfiguration.formFields}" as="field">
                                <f:render partial="OrderFormFields/Field_type_{field.type}" arguments="{field: field}" />
                            </f:for>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <f:render section="makeOrderButton" />
                                </div>
                            </div>
                        </f:then>
                        <f:else>
                            <p class="bg-warning"><f:translate key="fe.no_order_fields" /></p>
                        </f:else>
                    </f:if>
                </div>
            </f:if>
        </f:form>

        <f:render section="addCouponCodes" />
    </f:if>
    <div class="list-no-products-found">
        0 -
        <f:translate key="fe.number_of_results_found" />
    </div>
</div>

<f:section name="item">
    <div class="col-sm-2 col-md-1 col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <f:if condition="{product.thumbnail}">
                    <f:then>
                        <div class="item-order-img">
                            <f:image maxWidth="{settings.images.orderView.maxWidth}"
                                    maxHeight="{settings.images.orderView.maxHeight}"
                                    image="{product.thumbnail}"
                                    title="{product.name}"
                                    alt="{product.name}"/>
                        </div>
                    </f:then>
                    <f:else>
                        <f:if condition="{settings.images.pathNoImage}">
                            <div class="item-order-img">
                                <f:image src="{settings.images.pathNoImage}"
                                        width="{settings.images.orderView.maxWidth}"
                                        height="{settings.images.orderView.maxHeight}"
                                        alt="{product.name}"/>
                            </div>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-4 col-xs-12">
        <div class="row">
            <div class="col-xs-5 hidden-sm hidden-md hidden-lg">
                <f:translate key="fe.product_name"/>
            </div>
            <div class="col-xs-7 col-sm-12 col-md-12">
                <ppm:link pageUid="{settings.pagePid}" product="{product}">
                    {product.name}
                </ppm:link>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-12">
        <div class="row">
            <div class="col-xs-5 hidden-sm hidden-md hidden-lg">
                <f:translate key="fe.sku"/>
            </div>
            <div class="col-xs-7 col-sm-12 col-md-12">
                {product.sku}
            </div>
        </div>
    </div>
    <f:if condition="{ppm:isPricingEnabled()}">
        <div class="col-sm-2 col-md-2 col-xs-12">
            <div class="row">
                <div class="col-xs-5 hidden-sm hidden-md hidden-lg">
                    <f:translate key="fe.price_per"/>
                </div>
                <div class="col-xs-7 col-sm-12 col-md-12">
                    <span class="item-order-price" id="item-order-price-{product.uid}" data-price="{product.price}" data-product-uid="{product.uid}">
                        <f:translate key="fe.price_currency_format" arguments="{0: product.formatPrice}" />
                    </span>
                    <f:if condition="{settings.wishList.showTaxInfo}">
                        <div class="item-order-tax tax-price" id="item-order-tax-{product.uid}" data-tax="{product.tax}" data-product-uid="{product.uid}">
                            <small>
                                <f:translate key="fe.tax" />
                                <f:translate key="fe.price_currency_format" arguments="{0: product.formatTax}" />
                            </small>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </f:if>
    <div class="col-sm-2 col-md-2 col-xs-12">
        <div class="row">
            <div class="col-xs-5 hidden-sm hidden-md hidden-lg">
                <f:translate key="fe.add"/>
            </div>
            <div class="col-xs-7 col-sm-12 col-md-12">
                <f:form.textfield
                    name="orderProducts[{product.uid}]"
                    type="number"
                    value="{orderProducts.{product.uid}}"
                    class="order-product-amount"
                    id="order-product-amount-{product.uid}"
                    data="{product-uid: product.uid}" />
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-1 col-xs-12 pm-mobile-action-button">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="pm-action-button in-progress list-clear__icon _order-clear__icon"
                    data-wish-list-button="1"
                    data-delete-parent-on-remove=".row"
                    data-product-uid="{product.uid}"
                    data-add-to-list-text="{f:translate(key: 'fe.wish_list.add_title')}"
                    data-remove-from-list-text="{f:translate(key: 'fe.wish_list.remove_title')}"
                    data-ajax-uri="{f:uri.action(controller: 'AjaxJson', action: 'toggleWishList', absolute: '1', arguments: '{wishProduct: product}', pageType: '{settings.wishList.pageType}')}">
                <ppm:svg
                        class="pm-action-icon"
                        source="{f:uri.resource(path: 'Icons/Svg/circle-cross.svg', extensionName: 'pxa_product_manager')}" />
                    <div class="lds-dual-ring"><div class="small"></div></div>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="coupon">
    {coupon.code}
</f:section>

<f:section name="addCouponCodes">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <f:form action="addCouponCodeToOrder">
                <div class="form-inline">
                    <label for="couponCodeTextfield" class="sr-only"><f:translate key="fe.couponCode.fieldLabel" /></label>
                    <f:form.textfield name="couponCode" id="couponCodeTextfield" value="" placeholder="{f:translate(key: 'fe.couponCode.fieldPlaceholder')}" size="10" class="form-control" />
                    <button type="submit" class="btn btn-secondary"><f:translate key="fe.couponCode.addButton" /></button>
                </div>
            </f:form>
        </div>
    </div>
</f:section>

<f:section name="makeOrderButton">
    <button type="submit" class="btn btn-default"><f:translate key="fe.make_order" /></button>
</f:section>

</html>
