<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-group{f:if(condition: fieldConf.errors, then: ' has-error')}">
    <label for="pm-input-{field}" class="col-sm-2 control-label">
        <f:translate key="fe.fields.{field}" default="{field}" />
    </label>
    <div class="col-sm-10">
        <f:if condition="{fieldConf.feUserValue}">
            <f:then>
                <p class="form-control-static">{fieldConf.feUserValue}</p>
            </f:then>
            <f:else>
                <f:form.textarea
                        class="form-control"
                        id="pm-input-{field}"
                        name="orderFields[{field}]"
                        value="{fieldConf.value}"
                        placeholder="{f:translate(key: 'fe.fields.{field}', default: '{field}')}" />
            </f:else>
        </f:if>
        <f:if condition="{fieldConf.errors}">
            <f:for each="{fieldConf.errors}" as="error">
                <p class="text-danger">{error}</p>
            </f:for>
        </f:if>
    </div>
</div>
</html>