<script>
	(function (w) {
		const ProductManager = w.ProductManager || {};

		ProductManager.settings = ProductManager.settings || {};
		ProductManager.settings.lazyLoading = {
			wrapper: '.lazylist-wrapper',
            itemsContainer: '.lazylist-wrapper .cards-container',
            countContainer: '.results-count-container .results-count',
            nothingFound: '#nothing-found',
            hiddenClass: 'hidden',
            item: '.lazy-item',
            loaderOverlay: '.loader-wrapper',
			loadMoreButton: '[data-load-more="1"]',
			template: '#lazy-loading-template .lazy-item',
            limit: '<f:format.raw>{settings.limit}</f:format.raw>',
			ajaxUrl: '<f:format.raw>{ajaxUrl}</f:format.raw>',
			loadMoreType: '<f:format.raw>{settings.lazyLoading.loadMoreType}</f:format.raw>',
			demandCategories: '<f:format.raw>{demandCategories}</f:format.raw>',
			pagePid: '<f:format.raw>{settings.pagePid}</f:format.raw>',
			storagePid: '{storagePid}',
			orderDirection: '{settings.orderProductDirection}',
			orderBy: '{settings.orderProductBy}',
			lazyLoadingStop: '<f:format.raw>{lazyLoadingStop}</f:format.raw>',
			wishListEnable: '{settings.wishList.enable}',
			compareListEnable: '{settings.compareList.enable}',
			hideFilterOptionsNoResult: '{settings.hideFilterOptionsNoResult}',
			includeDiscontinued: '{settings.includeDiscontinued}'
		};

		w.ProductManager = ProductManager;
	})(window);
</script>
