<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
<f:cObject typoscriptObjectPath="lib.pmContentRender" data="{colPos:1, slide:'-1'}" />

<main id="main" class="default default-pm">

  <section class="default__content">
    <f:if condition="{data.doktype} == 9 && {product_single_view} == 1">
      <f:then>
        <f:comment><!-- alternative display if product page and a product is viewed --></f:comment>
      </f:then>
      <f:else>
        <section class="product-page__top-content">
          <div class="product-page__top-content-container pb-5">
            <f:cObject typoscriptObjectPath="lib.pmContentRender" data="{colPos:50}" />
          </div>
        </section>
      </f:else>
    </f:if>

    <div class="container-wrp">
      <div class="container">
        <div class="row">
          <div class="col">
            <f:cObject typoscriptObjectPath="lib.pmContentRender" data="{colPos:1001, slide:'-1'}" />
          </div>
        </div>
      </div>
    </div>

    <div class="container-wrp pt-5 pb-5 pt-lg-6 pb-lg-6">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <f:cObject typoscriptObjectPath="lib.pmContentRender" data="{colPos:1012}" />
          </div>
        </div>
      </div>
    </div>
  </section>

</f:section>

</main>
