<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Ajax" />

<f:section name="main">
    <f:for each="{latestVisitedProducts}" as="p">
        <div class="col-md-3">
            <f:if condition="{product.disableSingleView}">
                <f:then>
                    <f:render section="product" arguments="{product: p}"/>
                </f:then>
                <f:else>
                    <ppm:link pageUid="{settings.pagePid}" product="{p}">
                        <f:render section="product" arguments="{product: p}"/>
                    </ppm:link>
                </f:else>
            </f:if>
        </div>
    </f:for>
</f:section>

<f:section name="product">
    <div class="item">
        <f:render partial="Product/ListImage" arguments="{image: product.thumbnail, title: product.name}"/>
        <div class="item-body">
            <div class="item-title">
                <h4>{product.name}</h4>
            </div>
        </div>
    </div>
</f:section>
</html>