<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers/Backend" data-namespace-typo3-fluid="true">
<div class="panel-collapse collapse"
     role="tabpanel"
     id="collapse-{uid}"
     aria-labelledby="headingOne"
     aria-expanded="false">
    <div class="panel-body">
        <f:for each="{translations}" as="translation">
            <div class="row">
                <div class="col-xs-2">
                    <f:alias map="{title: '{translation.{titleField}}'}">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{pxa:recordEditUrl(uid: translation.uid, table: table)}"
                           title="{pxa:translate(key: 'be.edit_{itemName}', arguments: '{0: title}')}">
                            <core:iconForRecord table="{table}" row="{translation}"/>
                            {title} (id: {translation.uid})
                            <core:icon identifier="actions-open"/>
                        </a>
                    </f:alias>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-xs-2">
                    <pxa:getDbRecord uid="{translation.sys_language_uid}"
                                     table="sys_language" as="sysLanguage">
                        {sysLanguage.title}
                        <f:format.raw>
                            <pxa:getRecordIcon uid="{sysLanguage.uid}"
                                               table="sys_language"/>
                        </f:format.raw>
                    </pxa:getDbRecord>
                </div>
            </div>
        </f:for>
    </div>
</div>
</html>