<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />

    <f:if condition="{products}">
        <f:for each="{products}" as="product">
            <f:render section="item" arguments="{product:product, image: product.thumbnail, category: category}" />
        </f:for>
    </f:if>

</f:section>

<f:section name="item">
    <div class="col-md-4 col-sm-6">
        <f:render partial="Product/Card" arguments="{_all}" />
    </div>
</f:section>

</html>