<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:render partial="JavaScript/LazyLoadingJsConfiguration" arguments="{_all}"/>
    <f:render partial="JavaScript/FilteringJsSettings" arguments="{filtersAvailableOptions: filtersAvailableOptions}"/>

    <f:if condition="{filters}">
        <f:render partial="Filtering/Filters" arguments="{filters: filters}"/>
    </f:if>

    <div class="lazylist-wrapper products-lazylist-vars">
        <div id="nothing-found" class="hidden">
            <p><f:translate key="fe.nothing_were_found"/></p>
        </div>
        <div class="results-count-container">
            <span class="results-count">0</span>
            <f:translate key="fe.number_of_results_found"/>
        </div>

        <div class="cards-container row">
            <f:comment>
                Products container
            </f:comment>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12 loader-wrapper">
            <f:render partial="Product/Loader" arguments="{class: 'big'}"/>
        </div>

        <f:comment>If loading trigger is button</f:comment>
        <f:if condition="{settings.lazyLoading.loadMoreType} == 2 && {lazyLoadingStop} == 0">
            <div class="load-more-section">
                <button class="btn btn-success load-more-button center-block" data-load-more="1">
                    <f:translate key="fe.load_more"/>
                </button>
            </div>
        </f:if>
    </div>
</f:section>
</html>