<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />

    <f:render partial="SEO/CategoryTitleMetaTags" arguments="{category: category}" />

    <div class="row">
        <f:if condition="{treeData}">
            <f:then>
                <div class="col-md-3">
                    <f:if condition="{treeData.subItems}">
                        <div class="products-navigation">
                            <div class="list-group">
                                <f:render partial="Navigation/Menu"
                                          arguments="{items: treeData.subItems, level: '{treeData.level}'}" />
                            </div>
                        </div>
                    </f:if>
                </div>
                <div class="col-md-9">
                    <f:render section="productWrapper" arguments="{_all}" />
                </div>
            </f:then>
            <f:else>
                <div class="col-md-12">
                    <f:render section="productWrapper" arguments="{_all}" />
                </div>
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="productWrapper">
    <div class="products-wrapper">

        <f:if condition="{category}">
            <div class="products-header">
                <h1>{category.title}</h1>
                <f:format.html>{category.description}</f:format.html>

                <f:if condition="{category.contentPage}">
                    <div>
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                                   data="{pageUid: category.contentPage, colPos: category.contentColPos}" />
                    </div>
                </f:if>
            </div>
        </f:if>

        <div class="items-list row">

            <f:for as="subCategory" each="{category.subCategories}">
                <f:render section="card" arguments="{image: subCategory.image, title: subCategory.title}" />
            </f:for>


            <f:if condition="!{category.hideProducts}">
                <f:for as="product" each="{products}">
                    <f:render section="card"
                              arguments="{image: product.listImage, title: product.name, teaser: product.teaser}" />
                </f:for>
            </f:if>

        </div>
    </div>
</f:section>

<f:section name="card">
    <div class="card" style="width: 18rem;">
        <f:if condition="{image}">
            <f:image image="{image}"
                     maxHeight="{settings.listView.images.maxHeight}"
                     maxWidth="{settings.listView.images.maxWidth}"
                     class="card-img-top"
                     alt="{title}"
                     title="{title}" />
        </f:if>
        <div class="card-body">
            <h5 class="card-title">{title}</h5>
            <p class="card-text">{teaser -> f:format.raw()}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</f:section>
</html>
