<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{product.disableSingleView}">
        <f:then>
            <div class="alert alert-danger">
                <f:translate key="fe.single_view_disabled"/>
            </div>
        </f:then>
        <f:else>
            <ppm:setPageTitle><f:if condition="{product.alternativeTitle}" then="{product.alternativeTitle}" else="{product.name}"/></ppm:setPageTitle>

            <div class="row">
                <f:if condition="{treeData}">
                    <f:then>
                        <div class="col-md-3">
                            <f:if condition="{treeData.subItems}">
                                <div class="products-navigation">
                                    <div class="list-group">
                                        <f:render partial="Navigation/Menu" arguments="{items: treeData.subItems, level: '{treeData.level}'}"/>
                                    </div>
                                </div>
                            </f:if>
                        </div>
                        <div class="col-md-9">
                            <f:render section="singleView" arguments="{_all}"/>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="col-md-12">
                            <f:render section="singleView" arguments="{_all}"/>
                        </div>
                    </f:else>
                </f:if>
            </div>
        </f:else>
    </f:if>
</f:section>

<f:section name="singleView">
    <div class="single-product-wrapper {product.additionalClasses}" data-gallery-mode="{settings.images.singleView.showNavigationButtons}">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 product-name">
                        <h1>{product.name}</h1>
                        <f:if condition="{ppm:isPricingEnabled()} && {product.price}">
                            <h5>
                                <f:translate key="fe.price" />:
                                <f:translate key="fe.price_currency_format" arguments="{0: product.formatPrice}" />
                            </h5>
                        </f:if>
                    </div>
                </div>

                <div class="row">
                    <f:if condition="{product.teaser}">
                        <div class="col-md-12 product-teaser">
                            <f:format.html>{product.teaser}</f:format.html>
                        </div>
                    </f:if>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="content">
                            <f:if condition="{product.description}">
                                <f:format.html>{product.description}</f:format.html>
                            </f:if>

                            <f:if condition="{product.additionalInformation}">
                                <f:format.html>{product.additionalInformation}</f:format.html>
                            </f:if>

                            <f:comment><!-- USP --></f:comment>
                            <f:if condition="{product.usp}">
                                <f:render partial="Product/Usp"
                                          arguments="{product: product, headerTranslationIndex: 'fe.usp'}"/>
                            </f:if>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="single-product-gallery">
                            <div class="single-product-gallery__items">
                                <f:for each="{product.imagesSorted}" as="image">
                                    <f:alias map="{sizes: settings.images.singleView}">
                                        <a href="{f:uri.image(image: image, maxWidth:'1920', maxHeight:'1080')}">
                                            <f:image
                                                    maxWidth="{sizes.mainMaxWidth}"
                                                    maxHeight="{sizes.mainMaxHeight}"
                                                    image="{image}"
                                                    alt="{image.title}"
                                                    data="{description: image.description}"/>
                                        </a>
                                    </f:alias>
                                </f:for>
                                <f:variable name="videos">0</f:variable>
                                <f:if condition="{product.assets}">
                                    <f:for each="{product.assets}" as="file">
                                        <f:alias map="{sizes: settings.images.singleView}">
                                            <f:switch expression="{file.originalResource.type}">
                                                <f:case value="4">
                                                    <f:variable name="videos">{videos + 1}</f:variable>
                                                </f:case>
                                                <f:defaultCase>
                                                    <a href="{f:uri.image(image: file, maxWidth:'1920', maxHeight:'1080')}">
                                                        <f:media
                                                                width="{sizes.mainMaxWidth}m"
                                                                height="{sizes.mainMaxHeight}m"
                                                                file="{file}"
                                                                alt="{file.alternative}"
                                                                title="{file.title}"
                                                                data="{description: file.description}"/>
                                                    </a>
                                                </f:defaultCase>
                                            </f:switch>
                                        </f:alias>
                                    </f:for>
                                </f:if>
                            </div>
                            <f:if condition="{settings.showGalleryPagination}">
                                <div class="single-product-gallery__pagination"></div>
                            </f:if>

                            <f:if condition="{videos}">
                                <div class="single-product-gallery__assets">
                                    <f:for each="{product.assets}" as="file">
                                        <f:alias map="{sizes: settings.images.singleView}">
                                            <f:switch expression="{file.originalResource.type}">
                                                <f:case value="4">
                                                    <div align="center" class="embed-responsive embed-responsive-16by9">
                                                        <f:media
                                                            width="{sizes.mainMaxWidth}"
                                                            width="{sizes.mainMaxHeight}"
                                                            file="{file}"
                                                            alt="{file.alternative}"
                                                            data="{description: file.description}"
                                                            title="{file.title}" />
                                                    </div>
                                                </f:case>
                                            </f:switch>
                                        </f:alias>
                                    </f:for>
                                </div>
                                <f:if condition="{settings.showGalleryPagination}">
                                    <div align="center" class="single-product-gallery-assets__pagination"></div>
                                </f:if>
                            </f:if>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-{f:if(condition: '{product.links -> f:count()} || {product.falLinks -> f:count()}', then: '8', else: '12')}">
                        <div class="single-product-table">
                            <f:render partial="Product/AttributeListing"
                                      arguments="{product: product}"/>
                        </div>

                        <f:comment><!-- Launched and discontinued --></f:comment>
                        <f:if condition="{product.launched} || {product.discontinued}">
                            <div class="product-status">
                                <h3><f:translate key="fe.product_status"/></h3>
                                <table class="table">
                                    <tbody>
                                    <f:if condition="{product.launched}">
                                        <tr>
                                            <th><f:translate key="fe.launched"/></th>
                                            <td><f:format.date format="Y-m-d">{product.launched}</f:format.date></td>
                                        </tr>
                                    </f:if>
                                    <f:if condition="{product.discontinued}">
                                        <tr {f:if(condition:product.isDiscontinued, then: 'class="product-discontinued"')}>
                                            <th>
                                                <f:spaceless>
                                                <f:if condition="{product.isDiscontinued}">
                                                    <f:then><f:translate key="fe.is_discontinued"/></f:then>
                                                    <f:else><f:translate key="fe.will_be_discontinued"/></f:else>
                                                </f:if>
                                                </f:spaceless>
                                            </th>
                                            <td><f:format.date format="Y-m-d">{product.discontinued}</f:format.date></td>
                                        </tr>
                                    </f:if>
                                    </tbody>
                                </table>
                            </div>
                        </f:if>

                    </div>
                    <f:if condition="{product.links -> f:count()} || {product.falLinks -> f:count()}">
                        <div class="col-md-4">
                            <div class="single-product-gallery__links">
                                <h3 class="single-product-related-title">
                                    <f:translate key="fe.related_links"/>
                                </h3>
                                <ul>
                                    <f:if condition="{product.links}">
                                        <f:render partial="Product/Links" arguments="{links: product.links}"/>
                                    </f:if>

                                    <f:if condition="{product.falLinks}">
                                        <f:render partial="Product/FileLinks"
                                                  arguments="{files: product.falLinks}"/>
                                    </f:if>
                                </ul>
                            </div>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>

        <f:comment><!-- Related products --></f:comment>
        <f:if condition="{product.relatedProducts}">
            <f:render partial="Product/Related"
                      arguments="{relatedProducts: product.relatedProducts, headerTranslationIndex: 'fe.related_products'}"/>
        </f:if>

        <f:comment><!-- Sub products --></f:comment>
        <f:if condition="{product.subProducts}">
            <f:render partial="Product/Related"
                      arguments="{relatedProducts: product.subProducts, headerTranslationIndex: 'fe.sub_products'}"/>
        </f:if>

        <f:comment><!-- Accessories --></f:comment>
        <f:if condition="{product.accessories}">
            <f:render partial="Product/Accessories"
                      arguments="{accessories: product.accessories, headerTranslationIndex: 'fe.accessories'}"/>
        </f:if>

        <f:comment><!-- Lates products --></f:comment>
        <f:if condition="{latestVisitedProducts}">
            <f:render partial="Product/Related"
                      arguments="{relatedProducts: latestVisitedProducts, headerTranslationIndex: 'fe.latest_visited_products'}"/>
        </f:if>
    </div>
</f:section>
</html>