<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
	<div class="pm-products-wishlist-cart"
		 data-wishlist-product-count-ajax-uri="{f:uri.action(controller: 'AjaxJson', action: 'wishlistProductsCount', absolute: '1', pageType: '{settings.wishList.pageType}')}"
	>
		<f:link.page pageUid="{settings.wishList.pagePid}">
			<span class="pxa-pm-wish-list-cart{f:if(condition:settings.isMainCart, then:' main-cart')}">
			<ppm:svg
					width="32"
					height="32"
					source="{settings.wishList.cartIcon}"/>
			<span class="pxa-pm-wish-list-cart__counter"></span>
		</span>
		</f:link.page>
		<f:if condition="{settings.wishList.pagePid} == false">
			Wish list page is not set {$plugin.tx_pxaproductmanager.settings.wishList.pagePid}
		</f:if>
	</div>
</f:section>
</html>
