<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{product.attributes}">

    <f:if condition="{settings.attributes.divideAttributesBySets}">
        <f:then>
            <f:for each="{product.listingAttributeSets}" as="attributeset">
                <f:if condition="{attributeset.listingAttributes}">
                    <div class="product-attribute-listing-set-wrapper">
                        <h5><f:if condition="{attributeset.label}" then="{attributeset.label}" else="{attributeset.name}"/></h5>
                        <div class="product-attribute-listing-set">
                            <dl class="pm-bs-row">
                                <f:render partial="Product/AttributeSet/{attributeset.layout}" arguments="{_all}" />
                            </dl>
                        </div>
                    </div>
                </f:if>
            </f:for>
        </f:then>
        <f:else>
            <div class="product-attribute-listing-set-wrapper">
                <div class="product-attribute-listing-set">
                    <dl class="pm-bs-row">
                        <f:for each="{product.listingAttributeSets}" as="attributeset">
                            <f:if condition="{attributeset.listingAttributes}">
                                <f:render partial="Product/AttributeSet/Default" arguments="{_all}" />
                            </f:if>
                        </f:for>
                    </dl>
                </div>
            </div>
        </f:else>
    </f:if>
</f:if>

</html>
