<f:comment><!-- Allow both vue product object, conditions decide if template should render vue specific attributes --></f:comment>
<div class="item">
    <div class="item-img">
        <f:if condition="{product}">
            <f:then>
                <f:render partial="Product/ListImage"
                    arguments="{image: product.listImage, title: product.name}" />
            </f:then>
            <f:else>
                <img :src="product.listImage"
                    :title="product.name"
                    :alt="product.name"
                    v-if="product.listImage">
            </f:else>
        </f:if>
    </div>
    <div class="item-body">
        <f:render section="productName" arguments="{_all}" />
        <f:render section="productPrice" arguments="{_all}" />
    </div>
</div>

<f:section name="productName">
    <f:if condition="!{product}">
        <f:then>
            <div class="item-title">
                <span class="product-item-text product-item-title" v-text="product.name"></span>
            </div>
        </f:then>
        <f:else>
            <div class="item-title">
                <span class="product-item-text product-item-title">{product.name}</span>
            </div>
        </f:else>
    </f:if>
</f:section>

<f:section name="productPrice">
    <f:if condition="!{product}">
        <f:then>
            <div class="item-price pm-text-end">
                <span class="product-item-text product-item-price" v-if="product.price > 0" v-text="product.formattedPrice"></span>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{product.price}">
                <div class="item-price pm-text-end">
                    <span class="product-item-text product-item-price">{product.formattedPrice}</span>
                </div>
            </f:if>
        </f:else>
    </f:if>
</f:section>
