<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{image}">
    <f:then>
        <div class="item-img">
            <f:image maxWidth="{settings.images.listView.maxWidth}"
                     maxHeight="{settings.images.listView.maxHeight}"
                     image="{image}"
                     title="{title}"
                     alt="{title}"/>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{settings.images.pathNoImage}">
            <div class="item-img centered">
                <f:image src="{settings.images.pathNoImage}"
                         width="{settings.images.listView.maxWidth}"
                         height="{settings.images.listView.maxHeight}"
                         alt="{title}"/>
            </div>
        </f:if>
    </f:else>
</f:if>
</html>