<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="pm-bs-row">
    <div class="single-product-related">
        <div class="pm-bs-col-md-12">
                <pxa:renderMultiple key="productHeader" arguments="{headerLabel: headerLabel, subheaderLabel: subheaderLabel}"></pxa:renderMultiple>
        </div>
        <div class="single-product-related-list">
            <f:for each="{relatedProducts}" as="product">
                <div class="product-item-wrp">
                    <ppm:link product="{product}">
                        <f:render partial="Product/Card" arguments="{product: product}" />
                    </ppm:link>
                </div>
            </f:for>
        </div>
    </div>
</div>
</html>
