<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="pm-bs-row">
    <div class="single-product-related">
        <div class="pm-bs-col-md-12">
            <h3>
                <f:translate key="{headerLabel}" />
            </h3>
        </div>

        <div class="swiper-container product-relations">
            <div class="swiper-wrapper product-relations-wrapper">
                <f:for each="{relatedProducts}" as="product" iteration="iteration">
                    <div class="swiper-slide product-relations-item-wrp">
                        <ppm:link product="{product}">
                            <f:render partial="Product/Card" arguments="{product: product}" />
                        </ppm:link>
                    </div>
                </f:for>
            </div>
            <f:if condition="{relatedProducts -> f:count()} > 4">
                <!-- Add scrollbar -->
                <div class="swiper-scrollbar product-relations-scroll"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next product-relations-button-next"></div>
                <div class="swiper-button-prev product-relations-button-prev"></div>
            </f:if>
        </div>
    </div>
</div>
</html>
