<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="products-menu level-{level}">
    <f:for each="{items}" as="menuItem">
        <li class="menu-item level-{level}{f:if(condition: menuItem.subItems, then: ' has-children', else: ' no-children')}">
            <ppm:link.link pageUid="{settings.pageUid}"
                           class="menu-item-link{f:if(condition: menuItem.isActive, then: ' active', else: '')}{f:if(condition: menuItem.isCurrent, then: ' current', else: '')}"
                           title="{menuItem.item.title}"
                           additionalAttributes="{data-uid: menuItem.item.uid}"
                           category="{menuItem.category}">
                {menuItem.category.title}
            </ppm:link.link>
            <f:if condition="{menuItem.subItems}">
                <f:render partial="Navigation/Menu"
                          arguments="{items: menuItem.subItems, level: '{menuItem.level}'}" />
            </f:if>
        </li>
    </f:for>
</ul>
</html>