<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <pxa:pageRenderer includeJSFooterlibs="{0: 'EXT:pxa_product_manager/Resources/Public/Assets/js/chunk-vendors.js'}"
                      includeJSFooter="{0: 'EXT:pxa_product_manager/Resources/Public/Assets/js/app.js'}"
                      inlineLanguageLabelFiles="{0: 'EXT:pxa_product_manager/Resources/Private/Language/locallang.xlf'}"
                      cssLibs="{0: 'EXT:pxa_product_manager/Resources/Public/Assets/css/chunk-vendors.css', 1: 'EXT:pxa_product_manager/Resources/Public/Assets/css/app.css'}"
    />


    <div id="pm-lazy-loading-app">
        <div class="row">
            <f:for as="filter" each="{filters}">
                <div class="col-md-3">
                    <f:switch expression="{filter.guiType}">
                        <f:case value="checkbox">
                            <lazy-checkbox-filter :filter="{filter -> pxa:resourceEncode()}"></lazy-checkbox-filter>
                        </f:case>
                        <f:case value="option">
                            <lazy-radio-filter :filter="{filter -> pxa:resourceEncode()}"></lazy-checkbox-filter>
                        </f:case>
                        <f:defaultCase>
                            <lazy-filter :filter="{filter -> pxa:resourceEncode()}"></lazy-filter>
                        </f:defaultCase>
                    </f:switch>
                </div>
            </f:for>
        </div>

        <lazy-loading :settings="{settingsJson}" list-endpoint="{f:uri.page(pageType: '1606131593')}" filter-endpoint="{f:uri.page(pageType: '1606131725')}" inline-template>
            <div class="lazy-loading-wrapper" :class="{loading: loading}">
                <h4 v-cloak>{{ 'total_results' | trans }} {{ countAllLabel }}</h4>

                <div class="row" v-cloak>
                    <div class="col-md-3" v-for="product in products" :key="product.uid">
                        <a :href="product.url">
                            <f:render partial="Product/Card" arguments="{product: product}" />
                        </a>
                    </div>
                </div>

                <button @click="loadMore" v-if="hasMore" class="btn btn-default" :disabled="nextQueueLoading" v-text="loadMoreText" v-cloak></button>

                <loader v-show="loading"></loader>
            </div>
        </lazy-loading>
    </div>
</f:section>
</html>
