<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <f:render partial="SEO/ProductTitleMataTags" arguments="{product: product}" />

    <div class="row">
        <div class="col-md-12">
            <div class="single-product-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <pxa:renderMultiple key="productName" arguments="{_all}"></pxa:renderMultiple>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <pxa:renderMultiple key="productImages" arguments="{_all}"></pxa:renderMultiple>
                            </div>

                            <div class="col-md-8">
                                <div class="content">
                                    <pxa:renderMultiple key="productTeaser" arguments="{_all}"></pxa:renderMultiple>
                                    <pxa:renderMultiple key="productSku" arguments="{_all}"></pxa:renderMultiple>
                                    <hr>
                                    <pxa:renderMultiple key="productPrice" arguments="{_all}"></pxa:renderMultiple>
                                    <div class="product-actions">
                                        <pxa:renderMultiple key="productActions" arguments="{_all}"></pxa:renderMultiple>
                                    </div>
                                    <div class="product-shortcuts">
                                        <pxa:renderMultiple key="productShortcuts" arguments="{_all}"></pxa:renderMultiple>
                                    </div>
                                    <hr>
                                    <pxa:renderMultiple key="productDescription" arguments="{_all}"></pxa:renderMultiple>
                                    <pxa:renderMultiple key="productUsp" arguments="{_all}"></pxa:renderMultiple>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-{f:if(condition: '{product.links} || {product.falLinks}', then: '8', else: '12')}">
                                <div class="single-product-table">
                                    <f:render partial="Product/AttributeListing"
                                              arguments="{product: product}" />
                                </div>
                            </div>

                            <f:if condition="{product.links} || {product.falLinks}">
                                <div class="col-md-4">
                                    <div class="single-product-gallery__links">
                                        <h3 class="single-product-related-title">
                                            <f:translate key="fe.related_links" />
                                        </h3>
                                        <ul>
                                            <f:if condition="{product.links}">
                                                <f:render partial="Product/Links" arguments="{links: product.links}" />
                                            </f:if>

                                            <f:if condition="{product.falLinks}">
                                                <f:render partial="Product/FileLinks"
                                                          arguments="{files: product.falLinks}" />
                                            </f:if>
                                        </ul>
                                    </div>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </div>

                <f:if condition="{product.relatedProducts}">
                    <f:render partial="Product/Related"
                              arguments="{relatedProducts: product.relatedProducts, headerLabel: 'fe.related_products'}" />
                </f:if>

                <f:if condition="{product.subProducts}">
                    <f:render partial="Product/Related"
                              arguments="{relatedProducts: product.subProducts, headerLabel: 'fe.sub_products'}" />
                </f:if>

                <f:if condition="{product.accessories}">
                    <f:render partial="Product/Related"
                              arguments="{relatedProducts: product.accessories, headerLabel: 'fe.accessories'}" />
                </f:if>

                <f:if condition="{settings.pids.listViewPid}">
                    <f:link.page id="{settings.pids.listViewPid}"><f:translate key="fe.go_back" /></f:link.page>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
</html>
