<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <f:render partial="SEO/ProductTitleMataTags" arguments="{product: product}" />

    <div class="single-product-wrapper pm-bs-container">
        <div class="pm-bs-row">
            <div class="pm-bs-col-md-12">
                <pxa:renderMultiple key="productName" arguments="{_all}">{product.name}</pxa:renderMultiple>
            </div>
            <div class="pm-bs-col-md-12">
                <pxa:renderMultiple key="productSku" arguments="{_all}">{product.sku}</pxa:renderMultiple>
            </div>
        </div>

        <div class="pm-bs-row">
            <div class="pm-bs-col-lg-6">
                <pxa:renderMultiple key="productImages" arguments="{_all}"></pxa:renderMultiple>
            </div>

            <div class="pm-bs-col-lg-6">
                <div class="content">
                    <pxa:renderMultiple key="productTeaser" arguments="{_all}"><f:format.html>{product.teaser}</f:format.html></pxa:renderMultiple>
                    <div class="product-actions">
                        <pxa:renderMultiple key="productActions" arguments="{_all}"></pxa:renderMultiple>
                    </div>
                    <div class="product-shortcuts">
                        <pxa:renderMultiple key="productShortcuts" arguments="{_all}"></pxa:renderMultiple>
                    </div>
                    <pxa:renderMultiple key="productDescription" arguments="{_all}"><f:format.html>{product.description}</f:format.html></pxa:renderMultiple>
                    <pxa:renderMultiple key="productUspList" arguments="{_all}"></pxa:renderMultiple>
                    <pxa:renderMultiple key="productPrice" arguments="{_all}">{product.formattedPrice}</pxa:renderMultiple>
                </div>
            </div>
        </div>

        <div class="pm-bs-row">
            <div class="{f:if(condition: '{settings.singleView.productDataTableDocumentRow} == 1', then: 'pm-bs-col-lg-8', else: 'pm-bs-col-lg-12')}">
                <pxa:renderMultiple key="productAttributeListing" arguments="{_all}">
                    <f:render partial="Product/AttributeListing" arguments="{product: product}" />
                </pxa:renderMultiple>
            </div>

            <div class="{f:if(condition: '{settings.singleView.productDataTableDocumentRow} == 1', then: 'pm-bs-col-lg-4', else: 'pm-bs-col-lg-12')}">
                <pxa:renderMultiple key="productLinks" arguments="{_all}"></pxa:renderMultiple>
            </div>
        </div>

        <f:if condition="{product.relatedProducts}">
            <f:render partial="Product/{settings.singleView.related.partial}"
                        arguments="{relatedProducts: product.relatedProducts, headerLabel: 'fe.related_products'}" />
        </f:if>

        <f:if condition="{product.subProducts}">
            <f:render partial="Product/{settings.singleView.related.partial}"
                        arguments="{relatedProducts: product.subProducts, headerLabel: 'fe.sub_products'}" />
        </f:if>

        <f:if condition="{product.accessories}">
            <f:render partial="Product/{settings.singleView.related.partial}"
                        arguments="{relatedProducts: product.accessories, headerLabel: 'fe.accessories'}" />
        </f:if>

        <f:if condition="{settings.pids.listViewPid}">
            <f:link.page id="{settings.pids.listViewPid}"><f:translate key="fe.go_back" /></f:link.page>
        </f:if>
    </div>
</f:section>
</html>
