<h4>{attributeset.name}</h4>
<table class="table">
    <f:for each="{attributeset.listingAttributes}" as="attribute">
        <f:if condition="{product.attributeValue.{attribute.identifier}.hasNonEmptyValue}">
            <tr>
                <th>
                    <f:if condition="{attribute.image}">
                        <f:image image="{attribute.image}"
                                 maxWidth="{settings.attributes.imageMaxSize}"
                                 maxHeight="{settings.attributes.imageMaxSize}"
                                 alt="{f:if(condition: attribute.label, then: attribute.label, else: attribute.name)}"/>
                    </f:if>
                    <f:if condition="{attribute.label}" then="{attribute.label}" else="{attribute.name}"/>
                </th>
                <td>
                    <f:render partial="Product/Attribute/Type{attribute.type}"
                              arguments="{attribute: attribute, product: product}"/>
                </td>
            </tr>
        </f:if>
    </f:for>
</table>
