<f:for each="{attributeset.listingAttributes}" as="attribute" iteration="iteration">
    <f:if condition="{product.attributeValue.{attribute.identifier}.hasNonEmptyValue}">
        <f:variable name="oddEven">{f:if(condition: iteration.isOdd, then: ' attribute-listing-odd', else: ' attribute-listing-even')}</f:variable>
        <dt class="pm-bs-col-md-4{oddEven} attribute-listing-label">
            <f:if condition="{attribute.image}">
                <f:image image="{attribute.image}"
                        maxWidth="{settings.attributes.imageMaxSize}"
                        maxHeight="{settings.attributes.imageMaxSize}"
                        alt="{f:if(condition: attribute.label, then: attribute.label, else: attribute.name)}"
                        loading="lazy" />
            </f:if>
            <f:if condition="{attribute.label}" then="{attribute.label}" else="{attribute.name}"/>
        </dt>
        <dd class="pm-bs-col-md-8{oddEven} attribute-listing-value">
            <f:render partial="Product/Attribute/Type{attribute.type}"
                arguments="{attribute: attribute, product: product}"/>
        </dd>
    </f:if>
</f:for>
