<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <pxa:pageRenderer includeJSFooterlibs="{0: 'EXT:pxa_product_manager/Resources/Public/Assets/js/chunk-vendors.js'}"
                      includeJSFooter="{0: 'EXT:pxa_product_manager/Resources/Public/Assets/js/app.js'}" />


    <div id="pm-lazy-loading-app">
        <div class="row">
            <f:for as="filter" each="{filters}">
                <div class="col-md-3">
                    <lazy-filter :filter="{filter -> pxa:resourceEncode()}"></lazy-filter>
                </div>
            </f:for>
        </div>

        <lazy-loading :settings="{settingsJson}" endpoint="{f:uri.page(pageType: '201701')}" inline-template>
            <div class="lazy-loading-wrapper" :class="{loading: loading}">
                <h4 v-cloak>Total results {{ countAll }}</h4>

                <div class="row" v-cloak>
                    <div class="col-md-3" v-for="product in products" :key="product.uid">
                        <a :href="product.url">
                            <div class="item">
                                <div class="item-img">
                                    <img :src="product.listImage"
                                         :title="product.name"
                                         :alt="product.name"
                                         v-if="product.listImage">
                                </div>
                                <div class="item-body">
                                    <div class="item-title"><h4 v-text="product.name"></h4><span v-text="product.uid"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <button @click="loadMore" v-if="hasMore" class="btn btn-default" :disabled="nextQueueLoading">
                    <span v-if="nextQueueLoading">Loading...</span>
                    <span v-else>Load more</span>
                </button>

                <loader v-show="loading"></loader>
            </div>
        </lazy-loading>
    </div>
</f:section>
</html>