<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers/Backend" data-namespace-typo3-fluid="true">

<f:layout name="BELayout" />

<f:section name="main">
    <div class="bs-example">
        <span class="title"><pxa:translate key="be.preview_title" />:</span>

        <f:link.action action="listCategories" class="btn btn-default">
            <pxa:translate key="be.action.listCategories" />
        </f:link.action>
        <f:link.action action="listOrders" class="btn btn-default">
            <pxa:translate key="be.action.listOrders" />
        </f:link.action>
    </div>
</f:section>
</html>