<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers/Backend" data-namespace-typo3-fluid="true">

<f:layout name="BELayout"/>
<f:debug>{_all}</f:debug>

<f:section name="main">
    <h1>
        <pxa:translate key="be.module_name"/>
        - "{pageTitle}"
    </h1>

    <f:flashMessages/>

    <f:if condition="{categories}">
        <f:then>
            <f:render section="categoryBreadCrumbs" arguments="{categoryBreadCrumbs: categoryBreadCrumbs}"/>

            <div class="new-record-buttons">
                <f:if condition="{newCategoryUrl}">
                    <a href="{newCategoryUrl}" class="btn btn-info">
                        <pxa:translate key="be.create_new_category"/>
                    </a>
                </f:if>
            </div>

            <f:render section="backButton" arguments="{activeCategory: activeCategory}"/>

            <div class="panel-group" role="tablist" id="category-list" aria-multiselectable="true">
                <f:for each="{categories}" as="category" iteration="i">
                    <f:alias
                            map="{translations: '{pxa:getRecordTranslations(uid: category.uid, table: \'sys_category\')}'}">
                        <div class="panel panel-default">
                            <div class="panel-heading"
                                 role="tab"
                                 id="heading-{category.uid}">
                                <div class="row panel-title">
                                    <div class="col-xs-4">
                                        <a href="{pxa:recordEditUrl(uid: category.uid)}"
                                           title="{pxa:translate(key: 'be.edit_category', arguments: '{0: category.title}')}"
                                           class="record-title">
                                            <f:format.raw>
                                                <pxa:getRecordIcon uid="{category.uid}" table="sys_category"/>
                                            </f:format.raw>
                                            {category.title} (id: {category.uid})
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <a class="btn btn-default"
                                           title="{pxa:translate(key: 'be.edit_category', arguments: '{0: category.title}')}"
                                           href="{pxa:recordEditUrl(uid: category.uid)}">
                                            <core:icon identifier="actions-open"/>
                                        </a>

                                        <f:render section="sortingControls"
                                                  arguments="{categoriesPositions: categoriesPositions, category: category}"/>

                                        <f:if condition="{translations}">
                                            <f:then>
                                                <a href="#collapseCategory-{category.uid}"
                                                   role="button"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   aria-expanded="false"
                                                   aria-controls="collapseOne"
                                                   class="collapsed btn btn-default">
                                                    <pxa:translate key="be.show_translations"
                                                                   arguments="{count: '{translations -> f:count()}'}"/>
                                                </a>
                                            </f:then>
                                            <f:else>
                                                <span>
                                                    <button type="button" class="btn btn-default" disabled="disabled">
                                                        <pxa:translate key="be.no_translation"/>
                                                    </button>
                                                </span>
                                            </f:else>
                                        </f:if>
                                        <f:if condition="{category.subCategories -> f:count()}">
                                            <f:then>
                                                <f:link.action arguments="{category: category}"
                                                               class="btn btn-default">
                                                    <pxa:translate key="be.see_subcategories"/>
                                                    ({category.subCategories -> f:count()})
                                                </f:link.action>
                                            </f:then>
                                            <f:else>
                                                <button type="button" class="btn btn-default" disabled="disabled">
                                                    <pxa:translate key="be.no_subcategories"/>
                                                </button>
                                            </f:else>
                                        </f:if>
                                        <f:if condition="{products.{category.uid}}">
                                            <f:then>
                                                <f:link.action action="listProducts"
                                                               arguments="{category: category}"
                                                               class="btn btn-default">
                                                    <pxa:translate key="be.see_products"/>
                                                    ({products.{category.uid} -> f:count()})
                                                </f:link.action>
                                            </f:then>
                                            <f:else>
                                                <button type="button" class="btn btn-default" disabled="disabled">
                                                    <pxa:translate key="be.no_products"/>
                                                </button>
                                            </f:else>
                                        </f:if>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="collapseCategory-{category.uid}"
                                 aria-labelledby="headingOne"
                                 aria-expanded="false">
                                <div class="panel-body">
                                    <f:for each="{translations}" as="translation">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{pxa:recordEditUrl(uid: translation.uid)}"
                                                   title="{pxa:translate(key: 'be.edit_category', arguments: '{0: translation.title}')}">
                                                    <core:iconForRecord table="sys_category" row="{translation}"/>
                                                    {translation.title} (id: {translation.uid})

                                                    <core:icon identifier="actions-open"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-2">
                                                <pxa:getDbRecord uid="{translation.sys_language_uid}"
                                                                 table="sys_language" as="sysLanguage">
                                                    {sysLanguage.title}
                                                    <f:format.raw>
                                                        <pxa:getRecordIcon uid="{sysLanguage.uid}"
                                                                           table="sys_language"/>
                                                    </f:format.raw>
                                                </pxa:getDbRecord>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </div>
                    </f:alias>
                </f:for>
            </div>

            <f:render section="backButton" arguments="{activeCategory: activeCategory}"/>
        </f:then>
        <f:else>
            <div class="callout callout-info">
                <div class="media">
                    <div class="media-left">
						<span class="fa-stack fa-lg callout-icon">
                            <i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-info fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="callout-title">
                            <pxa:translate key="be.no_categories"/>
                        </h4>
                        <div class="callout-body">
                            <p>
                                <pxa:translate key="be.no_categories_text"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>

<f:section name="categoryBreadCrumbs">
    <f:if condition="{categoryBreadCrumbs}">
        <ul class="breadcrumb">
            <f:for each="{categoryBreadCrumbs}" as="category" iteration="i">
                <f:if condition="{i.isLast}">
                    <f:then>
                        <li class="active">{category.title}</li>
                    </f:then>
                    <f:else>
                        <li class="active">
                            <f:link.action arguments="{category: category}">
                                {category.title}
                            </f:link.action>
                        </li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="backButton">
    <f:if condition="{activeCategory}">
        <div class="back-button">
            <f:if condition="{activeCategory.parent}">
                <f:then>
                    <f:link.action class="btn btn-default" arguments="{category: activeCategory.parent}">
                        <pxa:translate key="be.go_back"/>
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:link.action class="btn btn-default">
                        <pxa:translate key="be.go_back"/>
                    </f:link.action>
                </f:else>
            </f:if>
        </div>
    </f:if>
</f:section>

<f:section name="sortingControls">
    <f:if condition="{categoriesPositions}">
        <f:if condition="{categoriesPositions.prev.{category.uid}}">
            <f:then>
                <a class="btn btn-default"
                   title="{pxa:translate(key: 'be.move_up')}"
                   href="{pxa:getMoveLink(uid: category.uid, positionUid: '{categoriesPositions.prev.{category.uid}}', table: 'sys_category')}">
                    <core:icon identifier="actions-move-up"/>
                </a>
            </f:then>
            <f:else>
            <span class="btn btn-default disabled">
                <core:icon identifier="empty-empty"/>
            </span>
            </f:else>
        </f:if>
        <f:if condition="{categoriesPositions.next.{category.uid}}">
            <f:then>
                <a class="btn btn-default"
                   title="{pxa:translate(key: 'be.move_down')}"
                   href="{pxa:getMoveLink(uid: category.uid, positionUid: '{categoriesPositions.next.{category.uid}}', table: 'sys_category')}">
                    <core:icon identifier="actions-move-down"/>
                </a>
            </f:then>
            <f:else>
            <span class="btn btn-default disabled">
                <core:icon identifier="empty-empty"/>
            </span>
            </f:else>
        </f:if>
    </f:if>
</f:section>
</html>