<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers/Backend" data-namespace-typo3-fluid="true">

<f:layout name="BELayout"/>
<f:debug>{_all}</f:debug>

<f:section name="main">
    <h1>
        <pxa:translate key="be.module_name"/>
        - "{pageTitle}"
    </h1>

    <f:flashMessages/>

    <f:if condition="{products}">
            <f:render partial="Backend/CategoryBreadCrumbs" arguments="{categoryBreadCrumbs: categoryBreadCrumbs}"/>

            <f:render partial="Backend/NewRecordButton" arguments="{label: 'create_new_product', newRecordUrl: newRecordUrl}"/>

            <f:render partial="Backend/BackButton" arguments="{activeCategory: activeCategory}"/>

            <div class="panel-group" role="tablist" id="category-list" aria-multiselectable="true">
                <f:for each="{products}" as="product">
                    <f:alias
                            map="{translations: '{pxa:getRecordTranslations(uid: product.uid, table: \'tx_pxaproductmanager_domain_model_product\')}'}">
                        <div class="panel panel-default">
                            <div class="panel-heading"
                                 role="tab"
                                 id="heading-{category.uid}">
                                <div class="row panel-title">
                                    <div class="col-xs-4">
                                        <a href="{pxa:recordEditUrl(uid: product.uid, table: 'tx_pxaproductmanager_domain_model_product')}"
                                           title="{pxa:translate(key: 'be.edit_product', arguments: '{0: product.name}')}"
                                           class="record-title">
                                            <f:format.raw>
                                                <pxa:getRecordIcon uid="{product.uid}" table="tx_pxaproductmanager_domain_model_product"/>
                                            </f:format.raw>
                                            {product.name} (id: {product.uid})
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <a class="btn btn-default"
                                           title="{pxa:translate(key: 'be.edit_product', arguments: '{0: product.name}')}"
                                           href="{pxa:recordEditUrl(uid: product.uid, table: 'tx_pxaproductmanager_domain_model_product')}">
                                            <core:icon identifier="actions-open"/>
                                        </a>

                                        <f:render partial="Backend/TranslationsButton" arguments="{uid: product.uid, translations: translations}"/>
                                    </div>
                                </div>
                            </div>

                            <f:render partial="Backend/TranslationsPanel" arguments="{uid: product.uid, translations: translations, itemName: 'product', table: 'tx_pxaproductmanager_domain_model_product', titleField: 'name'}"/>
                        </div>
                    </f:alias>
                </f:for>
            </div>

            <f:render partial="Backend/BackButton" arguments="{activeCategory: activeCategory}"/>

    </f:if>
</f:section>
</html>