<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers/Backend"
      xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers"data-namespace-typo3-fluid="true">

<f:layout name="BELayout" />
<f:debug>{_all}</f:debug>

<f:section name="main">
    <h1>
        <pxa:translate key="be.module_name" />
        - "{pageTitle}"
    </h1>

    <f:flashMessages />

    <f:if condition="{ordersCount}">
        <f:then>
            <div class="bs-example">
                <span class="title"><pxa:translate key="be.action.listOrders" /></span>

                <ul class="nav nav-pills" role="tablist">
                    <f:for each="{settings.listOrders.tabs.list}" as="tab">
                        <li role="presentation" class="{f:if(condition: '{tab} == {activeTab}', then: 'active')}">
                            <f:link.action action="listOrders" arguments="{activeTab: tab}">
                                <pxa:translate key="be.{tab}_order_nav_tab" />
                                <span class="badge"><f:count subject="{tabsOrders.{tab}}" /></span>
                            </f:link.action>
                        </li>
                    </f:for>
                </ul>

                <f:if condition="{listOrders}">
                    <f:then>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-1">
                                        ID
                                    </div>
                                    <div class="col-xs-1">
                                        <pxa:translate key="be.crdate" />
                                    </div>
                                    <div class="col-xs-4">
                                        <pxa:translate key="be.title" />
                                    </div>
                                </div>
                            </div>

                            <ppm:widget.paginate objects="{listOrders}" as="paginatedListOrders" configuration="{itemsPerPage: settings.listOrders.itemsPerPage, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
                                <f:for each="{paginatedListOrders}" as="order">
                                    <f:render section="orderRow" arguments="{order: order, backUrl: backUrl, activeTab: activeTab}" />
                                </f:for>
                            </ppm:widget.paginate>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="list-group">
                            <span class="list-group-item"><pxa:translate key="be.empty_list" /></span>
                        </div>
                    </f:else>
                </f:if>
            </div>
        </f:then>
        <f:else>
            <f:render partial="Backend/Notification"
                      arguments="{title: '{pxa:translate(key: \'be.no_orders\')}', body: '{pxa:translate(key: \'be.no_orders_text\')}'}" />
        </f:else>
    </f:if>
</f:section>

<f:section name="orderRow">
    <div class="list-group-item">
    <div class="row">
        <div class="col-xs-1">
            {order.uid}
        </div>
        <div class="col-xs-1">
            <f:format.date format="{settings.listOrders.dateFormat}" date="{order.crdate}" />
        </div>
        <div class="col-xs-5">
            <f:link.action action="showOrder" arguments="{order: order, backUrl: backUrl}">
                <pxa:orderTitle titleTemplate="{settings.listOrders.title}">{order}</pxa:orderTitle>
            </f:link.action>
        </div>
        <div class="col-xs-5">
            <f:switch expression="{activeTab}">
                <f:case value="active">
                    <f:render section="buttonShowOrder" arguments="{order: order, backUrl: backUrl}" />
                    <f:render section="buttonCompleteOrder" arguments="{order: order, backUrl: backUrl}" />
                    <f:render section="buttonArchiveOrder" arguments="{order: order, backUrl: backUrl}" />
                </f:case>
                <f:case value="complete">
                    <f:render section="buttonShowOrder" arguments="{order: order, backUrl: backUrl}" />
                    <f:render section="buttonUndoCompletedOrder" arguments="{order: order, backUrl: backUrl}" />
                    <f:render section="buttonArchiveOrder" arguments="{order: order, backUrl: backUrl}" />
                </f:case>
                <f:case value="archive">
                    <f:render section="buttonShowOrder" arguments="{order: order, backUrl: backUrl}" />
                    <f:render section="buttonUnArchiveOrder" arguments="{order: order, backUrl: backUrl}" />
                    <f:render section="buttonDeleteOrder" arguments="{order: order, backUrl: backUrl}" />
                </f:case>
            </f:switch>
        </div>
    </div>
    </div>
</f:section>

<f:section name="buttonShowOrder">
    <f:link.action action="showOrder"
                   title="{pxa:translate(key: 'be.details')}"
                   class="btn btn-default"
                   arguments="{order: order, backUrl: backUrl}">
        <core:icon identifier="actions-document-info"/>
    </f:link.action>
</f:section>

<f:section name="buttonCompleteOrder">
    <f:link.action action="toggleOrderState"
                   title="{pxa:translate(key: 'be.complete_order')}"
                   class="btn btn-default"
                   arguments="{order: order, state: 'complete', backUrl: backUrl}">
        <core:icon identifier="actions-check"/>
    </f:link.action>
</f:section>

<f:section name="buttonUndoCompletedOrder">
    <f:link.action action="toggleOrderState"
                   title="{pxa:translate(key: 'be.undo_complete_order')}"
                   class="btn btn-default"
                   arguments="{order: order, state: 'complete', backUrl: backUrl}">
        <core:icon identifier="actions-move-left"/>
    </f:link.action>
</f:section>

<f:section name="buttonArchiveOrder">
    <f:link.action action="toggleOrderState"
                   title="{pxa:translate(key: 'be.move_to_archive')}"
                   class="btn btn-default"
                   arguments="{order: order, state: 'hidden', backUrl: backUrl}">
        <core:icon identifier="actions-close"/>
    </f:link.action>
</f:section>

<f:section name="buttonDeleteOrder">
    <f:link.action action="deleteOrder"
                   title="{pxa:translate(key: 'be.delete_order')}"
                   class="btn btn-default delete-action"
                   data="{title: '{pxa:translate(key: \'be.delete_order\')}', text: '{pxa:translate(key: \'be.delete_confirm\')}'}"
                   arguments="{order: order, activeTab: activeTab}">
        <core:icon identifier="actions-delete"/>
    </f:link.action>
</f:section>

<f:section name="buttonUnArchiveOrder">
    <f:link.action action="toggleOrderState"
                   title="{pxa:translate(key: 'be.restore_from_archive')}"
                   class="btn btn-default"
                   arguments="{order: order, state: 'hidden', backUrl: backUrl}">
        <core:icon identifier="actions-edit-restore"/>
    </f:link.action>
</f:section>
</html>