<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="product-filter-wrapper" data-use-ajax="1" data-ajax-target=".products-list-view-wrapper">
    <div class="filter-clear">
        <a class="filter-clear__link" href="javascript: {}" data-reset-filter="1">
            <f:translate key="fe.clear_filter"/>
            <span class="filter-clear__icon">
                    <ppm:svg
                            source="{f:uri.resource(path: 'Icons/circle-cross.svg', extensionName: 'pxa_product_manager')}"/>
                </span>
        </a>
    </div>
    <form class="row productmanager-filter_options" name="pxa-pm-filtering">
        <f:for each="{filters}" as="filter">
            <div class="filter-wrapper col-sm-3">
                <f:alias map="{filterName: '{f:if(condition: filter.label, then: filter.label, else: filter.name)}'}">
                    <h3>{filterName}</h3>

                    <f:render partial="Filtering/FilterType{filter.type}" arguments="{filter: filter, filterName: filterName}" />
                </f:alias>
            </div>
        </f:for>
    </form>
</div>
</html>