<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<f:render section="select" arguments="{label: 'from', range: 'min', filter: filter}"/>
<f:render section="select" arguments="{label: 'to', range: 'max', filter: filter}"/>

<f:section name="select">
    <select data-uid="{filter.uid}"
            data-filter-conjunction="{filter.conjunctionAsString}"
            data-filter-type="{filter.type}"
            data-attribute-uid="{f:if(condition: filter.attribute, then: '{filter.attribute.uid}', else: '{filter.parentCategory.uid}')}"
            data-identifier="{filter.type}-{f:if(condition: filter.attribute, then: '{filter.attribute.uid}', else: '{filter.parentCategory.uid}')}-{range}"
            data-placeholder="{f:translate(key: 'fe.minmax.{label}')}"
            data-range="{range}"
            data-minimum-results-for-search="15"
            class="productmanager-filter list-group filter-rendertype__{filter.type}"
            style="visibility: hidden; width: 50%">
        <option></option>
        <f:for each="{ppm:filterOptions(filter: filter)}" as="option">
            <option value="{option.value}" data-option-uid="{option.uid}">{option.title}</option>
        </f:for>
    </select>
</f:section>
</html>
