<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">
<select data-uid="{filter.uid}"
        data-filter-type="{filter.type}"
        data-filter-conjunction="{filter.conjunctionAsString}"
        data-attribute-uid="{f:if(condition: filter.attribute, then: '{filter.attribute.uid}', else: '{filter.parentCategory.uid}')}"
        data-identifier="{filter.type}-{f:if(condition: filter.attribute, then: '{filter.attribute.uid}', else: '{filter.parentCategory.uid}')}"
        data-placeholder="{filterName}"
        class="productmanager-filter list-group filter-rendertype__{filter.type}"
        multiple
        style="visibility: hidden; width: 100%">
    <f:for each="{ppm:filterOptions(filter: filter)}" as="option">
        <option value="{option.value}">{option.title}</option>
    </f:for>
</select>
</html>
