
.tx-pxa-product-manager .product-gallery-top {
    border: 1px solid var(--pm-border-color);
}

.tx-pxa-product-manager .swiper-container.product-gallery-thumbs .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active {
    opacity: 1;
}

.tx-pxa-product-manager .swiper-container.product-gallery-thumbs .swiper-slide.swiper-slide-visible {
    opacity: 0.6;
}

.tx-pxa-product-manager .swiper-container.product-gallery-thumbs .swiper-slide {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 0.3s;
    cursor: pointer;
}

.tx-pxa-product-manager .swiper-button-prev.product-gallery-button-prev {
    left: 0;
}

.tx-pxa-product-manager .swiper-button-next.product-gallery-button-next {
    right: 0;
}

.tx-pxa-product-manager .swiper-button-next.product-gallery-button-next,
.tx-pxa-product-manager .swiper-button-prev.product-gallery-button-prev {
    color: var(--pm-dark);
}


.tx-pxa-product-manager .swiper-button-next.product-relations-button-next,
.tx-pxa-product-manager .swiper-button-prev.product-relations-button-prev {
    color: var(--pm-black)
}

.tx-pxa-product-manager .swiper-button-next.product-gallery-button-next:after,
.tx-pxa-product-manager .swiper-button-prev.product-gallery-button-prev:after {
    font-size: 22px;
}

.tx-pxa-product-manager .single-product-wrapper .product-gallery-top .swiper-slide a {
    height: 0;
    display: block;
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.product-gallery-swiper-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

.tx-pxa-product-manager .swiper-pagination-bullet-active {
    background: var(--pm-dark);
}

.tx-pxa-product-manager .product-relations .product-item-wrp {
    width: 261px;
}

.tx-pxa-product-manager .swiper-pagination.product-relations-pagination.swiper-pagination-bullets {
    bottom: 0;
}

.tx-pxa-product-manager .swiper-container.product-gallery-thumbs {
    box-sizing: border-box;
    height: 117px;
    padding: 10px 40px;
}

.tx-pxa-product-manager .product-gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
    border: 1px solid var(--pm-border-color)
}

.tx-pxa-product-manager .product-gallery-thumbs .product-gallery-thumbs-swiper-slide {
    width: 25%;
}

.tx-pxa-product-manager .product-gallery-thumbs .product-gallery-thumbs-swiper-slide:hover {
    cursor: pointer;
}

.tx-pxa-product-manager .product-gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.tx-pxa-product-manager .swiper-slide.product-item-wrp {
    height: auto;
}

.tx-pxa-product-manager .swiper-scrollbar.product-relations-scroll {
  opacity: 1;
  left: auto;
  max-width: 305px;
  right: 90px;
  bottom: 14px;
}

.tx-pxa-product-manager .swiper-button-next.product-relations-button-next,
.tx-pxa-product-manager .swiper-button-prev.product-relations-button-prev {
    opacity: 1;
    left: auto;
    left: auto;
    bottom: 0;
    top: auto;
    width: 30px;
    height: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
}

.tx-pxa-product-manager .swiper-button-prev.product-relations-button-prev {
    right: 40px;
}

.tx-pxa-product-manager .swiper-button-next.product-relations-button-next {
    right: 0;
}

.tx-pxa-product-manager .swiper-button-next.product-relations-button-next:after,
.tx-pxa-product-manager .swiper-button-prev.product-relations-button-prev:after {
    font-size: 12px;
}

.tx-pxa-product-manager .swiper-container.product-relations {
    padding-bottom: 30px;
}

.product-video-slide.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin-top: 20%;
}

.product-video-slide.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.product-gallery-video-thumbs-swiper-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
