.single-product-gallery__pagination {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    line-height: 0;
}

.single-product-gallery__pagination a {
    width: 65px;
    height: 65px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 10px 0 0;
    transition: border-color 0.2s linear;
}

.single-product-gallery-assets__pagination a {
    border-radius: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 1px solid #e0e0e0;
}
.single-product-gallery-assets__pagination a.tos-selected {
    background-color: #e0e0e0;
}

.single-product-gallery img {
    display: none;
}

.single-product-gallery .tos-wrapper img {
    display: block;
}