.tx-pxa-product-manager {
  /* Related products */
  /* Related files */
  /* Related links*/
  /* asseccories */
  /* usp */
  /** loader **/
}
.tx-pxa-product-manager .item {
  height: auto;
  position: relative;
  margin-bottom: 20px;
  border: 0;
}
.tx-pxa-product-manager .item-order-row {
  position: relative;
  background-color: #f2f2f2;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.tx-pxa-product-manager .item-order-row > div {
  vertical-align: middle;
  display: inline-block;
  float: none;
  margin: 0 -5px;
}
.tx-pxa-product-manager .item-order-row .order-clear__icon.in-progress svg {
  display: none;
}
.tx-pxa-product-manager .item-order-header > div {
  vertical-align: middle;
  display: inline-block;
  float: none;
  margin: 0 -5px;
}
.tx-pxa-product-manager .order-product-amount {
  width: 100%;
  padding: 5px 8px;
}
.tx-pxa-product-manager .make-order-button-section {
  display: inline-block;
}
.tx-pxa-product-manager .total-price-section {
  display: inline-block;
  margin-right: 30px;
  margin-top: 25px;
}
.tx-pxa-product-manager .tax-price {
  color: #9e9e9e;
}
.tx-pxa-product-manager .item-order-img img {
  width: 100%;
  height: auto;
}
.tx-pxa-product-manager .item-body {
  border: solid #288FB4;
  border-width: 0 1px 1px 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 0;
  background: #288FB4;
  width: 100%;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.tx-pxa-product-manager .item-body .item-title {
  height: 55px;
  width: 100%;
}
.tx-pxa-product-manager .item-body .item-title h4 {
  text-transform: none;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}
.tx-pxa-product-manager .item-title h4 {
  text-transform: uppercase;
  color: #2b2b2b;
}
.tx-pxa-product-manager .item-img {
  border: solid #288FB4;
  border-width: 1px 1px 1px 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 260px;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
}
.tx-pxa-product-manager .item-img.centered img {
  display: inline-block;
  vertical-align: middle;
}
.tx-pxa-product-manager .item-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.tx-pxa-product-manager .single-product-table h3 {
  text-transform: uppercase;
  border-bottom: 1px solid #94c7da;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.tx-pxa-product-manager .single-product-table .table > tbody > tr > th,
.tx-pxa-product-manager .single-product-table .table > tbody > tr > td {
  padding-left: 20px;
  vertical-align: top;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
.tx-pxa-product-manager .single-product-table .table > tbody > tr > th p,
.tx-pxa-product-manager .single-product-table .table > tbody > tr > td p {
  margin: 0;
}
.tx-pxa-product-manager .single-product-table th:first-of-type {
  background: #94c7da;
  width: 40%;
  color: #2b2b2b;
}
.tx-pxa-product-manager .single-product-table td:last-of-type {
  background: #eaf4f8;
  width: 60%;
  color: #2b2b2b;
}
.tx-pxa-product-manager .product-status h3 {
  text-transform: uppercase;
  border-bottom: 1px solid #94c7da;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.tx-pxa-product-manager .product-status .table > tbody > tr > th,
.tx-pxa-product-manager .product-status .table > tbody > tr > td {
  padding-left: 20px;
  vertical-align: top;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
.tx-pxa-product-manager .product-status .table > tbody > tr > th p,
.tx-pxa-product-manager .product-status .table > tbody > tr > td p {
  margin: 0;
}
.tx-pxa-product-manager .product-status th:first-of-type {
  background: #94c7da;
  width: 40%;
  color: #2b2b2b;
}
.tx-pxa-product-manager .product-status td:last-of-type {
  background: #eaf4f8;
  width: 60%;
  color: #2b2b2b;
}
.tx-pxa-product-manager .product-status .product-discontinued th,
.tx-pxa-product-manager .product-status .product-discontinued td {
  color: red;
}
.tx-pxa-product-manager .single-product-related h3 {
  border-bottom: 1px solid #94c7da;
  padding-bottom: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.tx-pxa-product-manager .product-name {
  position: relative;
}
.tx-pxa-product-manager .product-name h1 {
  margin: 0;
}
.tx-pxa-product-manager .product-name .product-header-btn {
  margin: 10px 10px 10px 0;
}
@media (max-width: 767px) {
  .tx-pxa-product-manager .product-name .header-buttons {
    float: left;
  }
}
@media (min-width: 768px) {
  .tx-pxa-product-manager .product-name .header-buttons {
    float: right;
  }
}
.tx-pxa-product-manager .product-header {
  margin: 0 0 30px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #94c7da;
}
.tx-pxa-product-manager .single-product-wrapper > .back-button {
  margin-bottom: 15px;
}
.tx-pxa-product-manager .single-product-related-title {
  border-bottom: 1px solid #94c7da;
  padding-bottom: 10px;
}
.tx-pxa-product-manager .product-related-file svg {
  width: 27px;
  height: 27px;
  margin-right: 9px;
  position: relative;
  top: 3px;
  fill: #288FB4;
}
.tx-pxa-product-manager .product-related-file svg path {
  fill: #288FB4;
}
.tx-pxa-product-manager .single-product-gallery .tos-wrapper img {
  width: 100%;
  height: auto;
}
.tx-pxa-product-manager .single-product-gallery__links ul {
  list-style: none;
  padding: 0;
}
.tx-pxa-product-manager .single-product-gallery__links .product-related-link,
.tx-pxa-product-manager .single-product-gallery__links .product-related-file {
  padding: 10px 0 10px 0;
}
.tx-pxa-product-manager .single-product-gallery__links .product-related-link span,
.tx-pxa-product-manager .single-product-gallery__links .product-related-file span {
  position: relative;
  display: inline-block;
}
.tx-pxa-product-manager .single-product-gallery__links .product-related-link span::first-letter,
.tx-pxa-product-manager .single-product-gallery__links .product-related-file span::first-letter {
  text-transform: uppercase;
}
.tx-pxa-product-manager .single-product-gallery__links .product-related-link span {
  bottom: 3px;
}
.tx-pxa-product-manager .single-product-gallery__links .product-related-file span {
  bottom: 5px;
}
.tx-pxa-product-manager .single-product-gallery__links .product-related-link svg {
  width: 22px;
  height: 22px;
  margin-right: 14px;
  position: relative;
  top: 3px;
  fill: #288FB4;
}
.tx-pxa-product-manager .single-product-gallery__links .product-related-link svg path {
  fill: #288FB4;
}
.tx-pxa-product-manager .single-product-gallery__links ul {
  list-style: none;
  padding-left: 0;
}
.tx-pxa-product-manager .single-product-accessories h3 {
  border-bottom: 1px solid #94c7da;
  padding-bottom: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.tx-pxa-product-manager .single-product-usp h3 {
  border-bottom: 1px solid #94c7da;
  padding-bottom: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.tx-pxa-product-manager .single-product-usp ul {
  list-style: square;
}
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.tx-pxa-product-manager .lds-dual-ring {
  position: relative;
  display: inline-block;
}
.tx-pxa-product-manager .lds-dual-ring div {
  border-radius: 50%;
  border: 2px solid #000;
  border-color: #bd4030 transparent #bd4030 transparent;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite;
}
.tx-pxa-product-manager .lds-dual-ring div.big {
  width: 100px;
  height: 100px;
}
.tx-pxa-product-manager .lds-dual-ring div.small {
  width: 20px;
  height: 20px;
}
.tx-pxa-product-manager .lds-dual-ring {
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.tx-pxa-product-manager .pm-like-button {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-position: 0 24px;
}
.tx-pxa-product-manager .pm-action-button {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 5px;
}
.tx-pxa-product-manager .pm-action-button:hover {
  fill: #707070;
  cursor: pointer;
}
.tx-pxa-product-manager .pm-action-button .lds-dual-ring {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.tx-pxa-product-manager .pm-action-button.in-progress .lds-dual-ring,
.tx-pxa-product-manager .pm-action-button.ongoing-initialization .lds-dual-ring {
  display: inline-block;
}
.tx-pxa-product-manager .pm-action-button.in-progress .pm-action-icon,
.tx-pxa-product-manager .pm-action-button.ongoing-initialization .pm-action-icon {
  display: none;
}
.tx-pxa-product-manager .pm-action-button.list-clear__icon {
  position: absolute;
  top: 5px;
  right: 5px;
  fill: #909090;
  width: 20px;
  height: 20px;
}
.tx-pxa-product-manager .pm-action-button.list-clear__icon:hover {
  fill: #707070;
}
.tx-pxa-product-manager .list-clear__icon._order-clear__icon {
  position: relative;
}
.tx-pxa-product-manager .wish-list-btn.active-icon .pm-like-button {
  background-position: 0 0;
}
.tx-pxa-product-manager .wish-list-btn .lds-dual-ring {
  left: 5px;
}
.tx-pxa-product-manager .compare-list-btn {
  bottom: 3px;
}
.tx-pxa-product-manager .compare-list-btn .lds-dual-ring {
  top: 6px;
  left: 6px;
}
.tx-pxa-product-manager .compare-list-btn .toggle-compare-icon path {
  fill: #939393;
}
.tx-pxa-product-manager .compare-list-btn:hover .toggle-compare-icon path,
.tx-pxa-product-manager .compare-list-btn.active-icon .toggle-compare-icon path {
  fill: #545454;
}
.tx-pxa-product-manager .pm-products-user-list .list-no-products-found {
  display: none;
}
.tx-pxa-product-manager .pm-products-user-list .list-no-products-found:first-child {
  display: block;
}
.tx-pxa-product-manager .select2-container--default .select2-selection--single .select2-selection__arrow,
.tx-pxa-product-manager .select2-container--default .select2-selection--single {
  height: 40px;
}
.tx-pxa-product-manager .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  height: 40px;
}
.tx-pxa-product-manager .select2-container--default .select2-search--inline .select2-search__field {
  padding-left: 5px;
  padding-right: 10px;
}
.tx-pxa-product-manager .sorting-order-button {
  margin-top: 50px;
}
.tx-pxa-product-manager .filter-clear {
  display: block;
  text-align: right;
}
.tx-pxa-product-manager .filter-clear .filter-clear__icon {
  fill: #288FB4;
  top: 7px;
  margin-left: 10px;
  position: relative;
}
.tx-pxa-product-manager .filter-clear .filter-clear__link:hover,
.tx-pxa-product-manager .filter-clear .filter-clear__link:focus {
  fill: #3babd4;
}
.tx-pxa-product-manager .filter-clear .filter-clear__link:hover .filter-clear__icon,
.tx-pxa-product-manager .filter-clear .filter-clear__link:focus .filter-clear__icon {
  fill: #50b4d8;
}
.tx-pxa-product-manager .products-navigation {
  border: solid #dfe7ea;
  border-width: 1px 0 0 0;
}
.tx-pxa-product-manager .products-navigation .products-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tx-pxa-product-manager .products-navigation .products-menu.level-2 .menu-item-link {
  color: #4a4a4a;
  padding-left: 27px;
  background: #f2f2f2;
  font-weight: normal;
}
.tx-pxa-product-manager .products-navigation .products-menu.level-2 .menu-item-link.current {
  color: #ffffff;
  background: #50b4d8;
}
.tx-pxa-product-manager .products-navigation .products-menu.level-2 .menu-item-link.current:hover {
  background: #49a4c5;
  color: #ffffff;
}
.tx-pxa-product-manager .products-navigation .products-menu.level-2 .menu-item-link:hover {
  background-color: #e4e4e4;
}
.tx-pxa-product-manager .products-navigation .menu-item-link {
  display: block;
  padding: 13px 14px 13px 20px;
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(120, 120, 120, 0.3);
  letter-spacing: 0.2px;
  transition: all 0.1s linear;
  border: solid #dfe7ea;
  border-width: 0 0 1px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.tx-pxa-product-manager .products-navigation .menu-item-link.active {
  border-left: 3px solid #469ebe;
  padding-left: 17px;
}
.tx-pxa-product-manager .products-navigation .menu-item-link.active:hover {
  background-color: #f2f2f2;
}
.tx-pxa-product-manager .products-navigation .menu-item-link.current {
  border-left: 3px solid #50b4d8;
  color: #ffffff;
  background: #50b4d8;
}
.tx-pxa-product-manager .products-navigation .menu-item-link.current:hover {
  background: #49a4c5;
  color: #ffffff;
}
.tx-pxa-product-manager .products-navigation .menu-item-link:hover {
  color: #4a4a4a;
  background: #f2f2f2;
}
.tx-pxa-product-manager .red-rows {
  vertical-align: bottom;
}
.tx-pxa-product-manager .red-rows .red-rows-cub {
  display: block;
  min-height: 31px;
  position: relative;
  padding-left: 46px;
}
.tx-pxa-product-manager .red-rows .red-rows-cub:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
  background: rgba(200, 80, 80, 0.2);
  content: ' ';
}
.tx-pxa-product-manager .table .danger {
  background: #c85050;
}
.tx-pxa-product-manager .table .product-compare-label {
  background: rgba(192, 192, 192, 0.5);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.tx-pxa-product-manager .loader-wrapper {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.tx-pxa-product-manager .products-list-view-wrapper .group-list-banner__wrp {
  position: relative;
}
.tx-pxa-product-manager .products-list-view-wrapper .group-list-banner__wrp .group-list-banner__text {
  position: absolute;
  left: 0;
  text-align: left;
  bottom: 0;
  padding: 5px 30px;
  color: #fff;
  background-color: rgba(40, 143, 180, 0.2);
}
.tx-pxa-product-manager .products-list-view-wrapper .group-list-banner__wrp .group-list-banner__text h1,
.tx-pxa-product-manager .products-list-view-wrapper .group-list-banner__wrp .group-list-banner__text h2,
.tx-pxa-product-manager .products-list-view-wrapper .group-list-banner__wrp .group-list-banner__text h3,
.tx-pxa-product-manager .products-list-view-wrapper .group-list-banner__wrp .group-list-banner__text h4 {
  color: #fff;
}
.tx-pxa-product-manager .products-grouped-item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.tx-pxa-product-manager .products-grouped-item .subcategory-description {
  background-color: rgba(40, 143, 180, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}
.tx-pxa-product-manager .selection {
  margin-top: 20px;
  margin-bottom: 20px;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none;
}
#pxa-pm-popup-manager-container {
  position: fixed;
  bottom: 0;
  left: 40px;
  height: 53px;
  overflow: hidden;
}
#pxa-pm-popup-manager-container.pm-popup-active #pxa-pm-popup-manager {
  bottom: 0;
}
#pxa-pm-popup-manager-container #pxa-pm-popup-manager {
  position: relative;
  bottom: -55px;
  z-index: 999999;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border: 0;
  color: #fff;
  font-weight: bold;
  min-width: 150px;
  text-align: center;
  height: 38px;
  padding: 6px;
  transition: bottom .3s linear;
}
#pxa-pm-popup-manager-container #pxa-pm-popup-manager.alert-warning {
  background-color: #e8a33d;
}
#pxa-pm-popup-manager-container #pxa-pm-popup-manager.alert-success {
  background-color: #79a548;
}
#pxa-pm-popup-manager-container #pxa-pm-popup-manager.alert-error {
  background-color: #c83c3c;
}
#pxa-pm-popup-manager-container #pxa-pm-popup-manager p {
  margin: 0;
}
.tx-pxa-product-manager .pricing-enabled .pm-action-button.list-clear__icon {
  top: -10px;
}
@media (max-width: 767px) {
  .pm-mobile-action-button {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
  }
  .pm-mobile-action-button .pm-action-button {
    position: absolute !important;
    top: -24px !important;
    right: 13px !important;
  }
  .tx-pxa-product-manager .item-order-row {
    position: relative;
  }
  .tx-pxa-product-manager .item-order-row > .col-xs-12 {
    padding-top: 30px;
  }
}
