 <!-- Swiper -->
<div class="product-gallery-wrp">
    <div class="swiper-container product-gallery-top">
        <div class="swiper-wrapper product-gallery-wrapper">
            <f:for each="{product.galleryImages}" as="image" iteration="iteration">
                <div class="swiper-slide product-gallery-swiper-slide">
                    <a href="{f:uri.image(image: image, maxWidth: '{data.image_zoom_width}')}"
                      data-caption="{image.properties.description}"
                      rel="picture-partial__zoom-{data.uid}"
                      class="picture-partial__zoom-link">
                      <f:image image="{image}"
                        maxWidth="522"
                        class="product-gallery-swiper-item"
                        maxWidth="{settings.singleView.images.mainMaxWidth}"
                        loading="lazy"
                        alt="{product.name}"/>
                    </a>
                </div>
            </f:for>
            <f:if condition="{product.assets}">
                <f:for each="{product.assets}" as="asset" iteration="iteration">
                    <div class="swiper-slide product-video-slide embed-responsive">
                        <f:media file="{asset}" class="img-fluid" alt="{product.name}"/>
                    </div>
                </f:for>
            </f:if>
        </div>
    </div>

    <div class="swiper-container product-gallery-thumbs">
        <div class="swiper-wrapper product-gallery-thumbs-wrapper">
            <f:for each="{product.galleryImages}" as="image" iteration="iteration">
                <div
                    class="swiper-slide product-gallery-thumbs-swiper-slide"
                    style="background-image:url({f:uri.image(src: '{image.uid}', treatIdAsReference: 1, maxWidth='120', absolute: 1)})">
                </div>
            </f:for>
            <f:if condition="{product.assets}">
                <f:for each="{product.assets}" as="asset" iteration="iteration">
                    <div class="swiper-slide product-gallery-video-thumbs-swiper-slide">
                        <f:image image="{asset}" class="img-fluid"
                          height="65"
                          alt="{product.name}"/>
                    </div>
                </f:for>
            </f:if>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next product-gallery-button-next"></div>
        <div class="swiper-button-prev product-gallery-button-prev"></div>
    </div>
</div>
{childContent}
