<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages />

    <f:render section="items" arguments="{items: items, level: 1}" />
</f:section>

<f:section name="items">
    <ul class="navigation level_{level}">
        <f:for as="item" each="{items}">
            <li class="{f:if(condition: item.active, then: 'active')}{f:if(condition: item.current, then: ' current')}">
                <pxa:link page="{settings.pids.singleViewPid}" category="{item.category}">{item.category.title}</pxa:link>
            </li>
            <f:if condition="{item.subItems}">
                <f:render section="items" arguments="{items: item.subItems, level: '{level + 1}'}" />
            </f:if>
        </f:for>
    </ul>
</f:section>
</html>