services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Pixelant\PxaProductManager\:
    resource: '../Classes/*'

  Pixelant\PxaProductManager\Command\UpdateRelationInheritanceIndexCommand:
    tags:
      - name: 'console.command'
        command: 'productmanager:updaterelationinheritanceindex'

  Pixelant\PxaProductManager\Command\FixDuplicateAttributeValuesCommand:
    tags:
      - name: 'console.command'
        command: 'productmanager:fixduplicateattributevalues'
