<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Email" />

<f:section name="main">
    <h4><f:translate key="fe.userEmail.orderForm.title" extensionName="PxaProductManager" /></h4>
    <table border="1" cellpadding="2" cellspacing="2">
        <thead>
        <tr>
            <th>#</th>
            <th>UID</th>
            <th><f:translate key="fe.product_name" extensionName="PxaProductManager" /></th>
            <th><f:translate key="fe.sku"  extensionName="PxaProductManager" /></th>
            <th><f:if condition="{ppm:isPricingEnabled()}" then="{f:translate(key: 'fe.price_per',  extensionName: 'PxaProductManager')}" else=""/></th>
            <th><f:translate key="fe.amount" extensionName="PxaProductManager" /></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{products}" as="product" iteration="i">
            <tr>
                <th scope="row">{i.cycle}</th>
                <td>{product.uid}</td>
                <td>{product.name}</td>
                <td><f:if condition="{product.sku}" then="{product.sku}" else=" -- "/></td>
                <td>
                    <f:if condition="{ppm:isPricingEnabled()}">
                        <f:translate key="fe.price_currency_format"  extensionName="PxaProductManager" arguments="{0: product.formatPrice}" />
                    </f:if>
                </td>
                <td>{orderProducts.{product.uid}}</td>
            </tr>
        </f:for>
        <f:if condition="{ppm:isPricingEnabled()}">
            <tr>
                <th style="border: none;"></th>
                <th style="border: none;"></th>
                <th style="border: none;"></th>
                <th style="border: none;"></th>
                <th style="border: none;"><f:translate key="fe.total_price" extensionName="PxaProductManager" />:</th>
                <th style="border: none;"><f:translate key="fe.price_currency_format"  extensionName="PxaProductManager" arguments="{0: totalPrice}" /></th>
            </tr>
        </f:if>
        </tbody>
    </table>

    <br />
    <p><f:translate key="fe.userEmail.orderForm.admin_contact" extensionName="PxaProductManager" /></p>
</f:section>
</html>